<h1>Choices</h1>

<p>Escolha uma opção:</p>
<a href="<%= scene_choices_path(@scene) %>">Opção 1</a>
<a href="<%= scene_choices_path(@scene) %>">Opção 2</a>

<li class="dropdown">
  <%= link_to "Atributos", "#", class: "dropdown-toggle", id: "choiceDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="choiceDropdown">
    <%# @choices.each do |ch| %>
      <%# <%= ch.ch_name, class: "dropdown-item"%>
      <%# <%= ch.gender, class: "dropdown-item"%>
      <%# <%= ch.age, class: "dropdown-item"%>
      <%# <%= ch.charisma, class: "dropdown-item" %>
      <%# <%= ch.money, class: "dropdown-item" %>
      <%# <%= ch.front_end, class: "dropdown-item" %>
      <%# <%= ch.back_end, class: "dropdown-item" %>
      <%# <%= ch.stamina, class: "dropdown-item" %>
      <%# <%= ch.luck, class: "dropdown-item" %>
      <%# <%= ch.lazy, class: "dropdown-item" %>
      <%# <%= ch.studious, class: "dropdown-item" %>
      <%# <%= ch.genius, class: "dropdown-item" %>
      <%# <%= ch.neutral, class: "dropdown-item" %>
      <%# <%= ch.shy, class: "dropdown-item" %>
      <%# <%= ch.outgoing, class: "dropdown-item" %>
    <%# end %>
  </div>
</li>

<p>Find me in app/views/choices/show.html.erb</p>
