     <%= turbo_frame_tag "cena" do%>
     <%= render "shared/navbar" %>
<div class="html2">
     <div class="container d-flex flex-column justify-content-end align-items-start" >
<h3 class="solway strokeme"><%=@scene.title%></h3>
    <div class="story-box w-100 border border-dark"><%=@scene.story%>
      <div class="mt-5">
          <% @scene.choices.each do |choice| %>
            <%= link_to choice.action, scene_path(id: choice.next_scene_id, choice: choice.id), class: 'btn btn-dark' %>
          <% end %>
            <%= link_to "Jogue novamente", "https://round-earth-society.herokuapp.com/", class: 'btn btn-dark' if @scene.id == 4 || @scene.id == 5 %>
      </div>
    </div>
  </div>
  </div>
</div>
    <% end %>
