<%= turbo_frame_tag "cena" do%>
  <%= render "shared/navbar" %>

  <div class="classroom" style="background-image: url(<% if @scene.title == "Dia 5 - Cena 4" %>
  <%= image_path("happy-hour.jpg") %>)">
  <% elsif @scene.title == "Dia 4 - Cena 4" %>
  <%= image_path("yoga.jpg") %>)">
  <% elsif @scene.title == "Dia 6 - Cena 1" %>
  <%= image_path("project.jpg") %>)">
  <% elsif @scene.title == "Dia 3 - Cena 3" %>
  <%= image_path("lunch.jpg") %>)">
  <% elsif @scene.title == "Dia 4 - Cena 1" || @scene.title == "Dia 4 - Cena 3" %>
  <%= image_path("bedroom.jpg") %>)">
  <% else %>
  <%= image_path("scene_background.png") %>)">
  <% end %>
    <div class="container d-flex flex-column justify-content-end align-items-start" >
      <h3 class="solway strokeme"><%=@scene.title%></h3>
      <div class="story-box w-100 border border-dark" data-controller="select-choice">
      <div data-controller="typed" data-typed-story-value="<%=@scene.story%>" data-action="keyup@window->select-choice#choose" ></div>
        <div class="mt-4 color" data-action="keyup@window->select-choice#selectChoice">
          <% @scene.choices.each do |choice| %>
            <%= link_to choice.action, scene_path(id: choice.next_scene_id, choice: choice.id),class: "text-decoration-none d-flex justify-content-center", data: {select_choice_target: "choice"}%>
          <% end %>
        <%= link_to "Jogue novamente", root_path, data: {select_choice_target: "choice"}, class: "text-decoration-none d-flex justify-content-center"  if @scene.id == 31 %>
        </div>
      </div>
    </div>
  </div>
<% end %>
