<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%#= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.webp" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "/", class: "nav-link" %>
          </li>


          <li class="nav-item dropdown">
            <%= link_to "Atributos", "#", class: "dropdown-toggle nav-link", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
               <a href="" class="dropdown-item">Nome: <%= current_user.pc.pc_name %></a>
               <a href="" class="dropdown-item">Genero: <%= current_user.pc.gender %></a>
               <a href="" class="dropdown-item">Idade: <%= current_user.pc.age %></a>
               <a href="" class="dropdown-item">Carisma: <%= current_user.pc.charisma %></a>
               <a href="" class="dropdown-item">Dinheiro: <%= current_user.pc.money%></a>
               <a href="" class="dropdown-item">Front_end: <%= current_user.pc.front_end%></a>
               <a href="" class="dropdown-item">Back_end: <%= current_user.pc.back_end%></a>
               <a href="" class="dropdown-item">Vigor: <%= current_user.pc.stamina%></a>
             </div>
          </li>

          <li class="nav-item dropdown">
            <% if current_user.pc.gender == "Homem" %>
            <%= image_tag "male_avatar.webp", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% elsif current_user.pc.gender == "Mulher" %>
            <%= image_tag "female_avatar.webp", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
            <%= image_tag "other_avatar.webp", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
