  <h1>New Pc</h1>
  <%= simple_form_for(@pc) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= f.input :pc_name %>
    <%= f.input :gender %>
    <%= f.input :age %>
    <div class="mt-3 d-flex justify-content-center">
    <%= f.submit class:"bn60 mb-4"%>
<% end %>
